@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700);@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,700);body {
  background-color: #e7e8ec !important;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 300;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #337ab7;
  text-decoration: none;
}

p {
  margin: 0 0 10px;
  line-height: 1.4285em;
}

p:last-child {
  margin-bottom: 10px;
}

h1 {
  font-size: 28px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  min-height: 0rem;
  font-weight: 200;
}

h3:first-child {
  margin-top: 20px;
  margin-bottom: 10px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: #d9d9d9;
  height: 1px;
}

h4 {
  margin: 0;
  font-weight: normal;
}

body {
  background-color: #edf0fd;
}

.float-right {
  float: right;
}

.smalltext {
  font-size: 10px;
}

.grey {
  border-color: grey;
}

.movedown {
  margin-top: 20px;
}

.topbar {
  background-color: #313d4e;
  width: 100%;
  height: 40px;
}

.form-control[disabled] {
  background-color: #424242;
}

.navbar-toggle {
  display: block;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 0px 15px 15px 270px;
}

@media (min-width: 768px) {
  #page-content-wrapper {
    padding: 0px 0px 0px 0px;
    position: relative;
  }
}

@media (min-width: 992px) {
  #page-content-wrapper {
    padding: 0px 0px 0px 270px;
    position: relative;
  }
}

@media (max-width: 768px) {
  #page-content-wrapper {
    padding: 0px 0px 0px 0px;
    position: relative;
  }
}

.boxspace {
  margin-right: 10px;
  padding: 10px;
}

.taskcase {
  padding: 5px 5px 15px 20px;
  background-color: #cce5ff;
}

.taskcase hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #242939;
  border-color: #242939;
}

.dropzone {
  border: none;
  background-image: url("/images/undraw_upload.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  min-height: 250px;
}

.dropzone .dz-message {
  text-align: center;
  margin: 0em 0;
  font-size: 1.3em;
  font-weight: 500;
}

.text-align-center {
  text-align: center;
}

.ui.selection.dropdown .menu > .item {
  font-size: 15px;
}

.ui.selection.dropdown {
  margin-left: 0;
}

.form-inline .form-control {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .form-inline .form-control {
    width: 100%;
  }
}

.removeleft {
  padding-left: 0;
}

.removeright {
  padding-right: 0;
}

.navmenu-fixed-left,
.navbar-offcanvas.navmenu-fixed-left {
  border-width: 0 0px 0 0;
}

.navbar-default {
  background-color: #fff;
  border: none;
  border-radius: 0px;
  border-bottom: 0;
  height: 75px;
  box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1);
}

.navbar {
  margin-bottom: 0px;
}

#permissions-table th:first-child {
  width: 200px;
}

.thin-weight {
  font-weight: 300;
}

.action-link {
  background: none !important;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
  cursor: pointer;
  font-size: 14px;
  color: #337ab7;
}

.action-header {
  width: 40px;
}

.fit-action-delete-th {
  padding: 0px 15px 0px 0px !important;
}

.fit-action-edit-th-link {
  margin-right: 12px;
}

.action-link:hover {
  color: #23527c;
  text-decoration: underline;
}

.white-box {
  min-height: 130px;
  background-color: #fff;
  padding: 1.5em;
  margin: 1em;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

.calm-header {
  font-size: 1.2em;
  font-weight: 300;
}

.dataTables_filter input {
  -webkit-appearance: textfield;
  width: 320px;
  color: #9c9c9c;
  font: inherit;
  outline: 0;
  padding: 11px 0px 6px 13px;
  outline: 1px solid #e1e2e2;
}

.table-status-input {
  -webkit-appearance: menulist;
  padding: 9px 0px 7px 8px;
  outline: 1px solid #e1e2e2;
  background-color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}

.global-heading {
  font-family: Lato;
  font-size: 26px;
  letter-spacing: 1px;
}

.bootstrap-select .dropdown-toggle .filter-option {
  border: 1px solid #646c9a;
}

.margin-top-10 {
  margin-top: 10px;
}

.padding-15-sides {
  padding: 0 15px !important;
}

.text-black {
  color: #000;
}

.base-input-label {
  font-size: 1.2em;
  font-weight: 300;
}

.checkboxInputGroup {
  background-color: #fff;
  display: block;
  margin: 10px 0;
  position: relative;
  border: #e7e8ec 1px solid;
}

.checkboxInputGroup label {
  padding: 12px 30px;
  width: 100%;
  display: block;
  text-align: left;
  color: #3C454C;
  cursor: pointer;
  position: relative;
  z-index: 2;
  transition: color 200ms ease-in;
  overflow: hidden;
  margin: 0px;
}

.checkboxInputGroup label:before {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: '';
  background-color: #536be2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale3d(1, 1, 1);
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  z-index: -1;
}

.checkboxInputGroup label:after {
  width: 32px;
  height: 32px;
  content: '';
  border: 2px solid #D1D7DC;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 2px 3px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.checkboxInputGroup input:checked ~ label {
  color: #fff;
}

.checkboxInputGroup input:checked ~ label:before {
  transform: translate(-50%, -50%) scale3d(56, 56, 1);
  opacity: 1;
}

.checkboxInputGroup input:checked ~ label:after {
  background-color: #54E0C7;
  border-color: #54E0C7;
}

.checkboxInputGroup input {
  width: 32px;
  height: 32px;
  order: 1;
  z-index: 2;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  visibility: hidden;
}

.dropdown {
  display: inline-block;
  float: right;
}

.action-panel {
  right: -400px;
  height: 100%;
  position: fixed;
  width: 400px;
  z-index: 11;
  background-color: #fff;
  transition: .2s;
}

.action-panel .notification-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.action-panel .notification-wrapper ul li {
  line-height: 20px;
  padding: 15px;
}

.action-panel .notification-wrapper ul li:first-child {
  margin-top: 15px;
}

.action-panel .notification-wrapper ul li:before {
  content: "";
  width: 4px;
  height: 100%;
  background: #e1e4ea;
  left: 3rem;
  top: 11.8rem;
  position: absolute;
  z-index: -1;
}

.action-panel a li p {
  margin-top: 5px;
  color: #646c9a;
}

#notification-clock {
  color: #536be2;
}

#notification-clock:hover {
  text-decoration: none;
}

.top-bar-toggler {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.top-bar-toggler i:before {
  font-size: 1.8em;
}

.top-bar-toggler:hover {
  background-color: #f0f3ff;
}

.bar {
  right: 0px;
}

.action-panel-header {
  display: flex;
  padding-top: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 0.9em;
  padding-left: 1.5rem;
  border-bottom: 1px solid #ebedf2;
}

.action-panel-header p {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  text-align: center;
  padding-top: 0.5em;
}

.action-header {
  white-space: nowrap;
  background-color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.action-image {
  border-radius: 25px;
  height: 35px;
  width: 35px;
  margin-right: 5px;
  display: inline;
}

.action-date {
  color: #a1a8c3;
  font-weight: 500;
  font-size: 0.9em;
}

.action-content {
  margin-left: 44px;
}

.action-content a {
  color: #646c9a;
  font-weight: 400;
  font-size: 1.3rem;
}

.action-content a:hover {
  color: #5d78ff;
  text-decoration: none;
}

.action-author {
  margin-left: 44px;
  color: #a1a8c3;
}

.action-panel-header__nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  color: #a1a8c3;
  padding: 1.1rem 1.2rem;
  text-transform: uppercase;
}

.action-panel-header__nav-link:hover {
  transition: all 0.3s;
  background: #ebedf2;
  border-radius: 0.25rem;
  color: #646c9a;
  text-decoration: none;
}

.action-panel-header__nav-link:focus {
  transition: all 0.3s;
  background: #5d78ff;
  color: #ffffff;
  border-radius: 0.25rem;
  text-decoration: none;
}

.action-panel-header__btn-close {
  margin-left: 12rem;
  border: 0;
  padding: 0;
  background: transparent;
  height: 30px;
  width: 30px;
  transition: 0.25s;
}

.action-panel-header__btn-close:hover {
  background: #5d78ff;
  border-radius: 0.25rem;
}

.nav-tabs {
  border-bottom: 0px;
}

.nav-tabs > li {
  font-size: 1.2rem;
  font-weight: 500;
  color: #a1a8c3;
  text-transform: uppercase;
}

.nav-tabs > li.active {
  transition: all 0.3s;
  background: #5d78ff;
  color: #ffffff;
  border-radius: 0.25rem;
  text-decoration: none;
}

.nav-tabs > li > a {
  border: none;
}

.nav-tabs > li > a:hover {
  border: none;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  border: none;
  background-color: transparent;
  color: #ffffff;
}

.topbar-user__image {
  border-radius: 25px;
  height: 35px;
  width: 35px;
  margin-right: 5px;
  display: inline;
}

.navbar-icons__wrapper {
  display: flex;
  float: right;
  padding-right: 20px;
  margin-top: 15px;
}

.topbar-user__wrapper {
  padding-right: 15px;
  min-width: 150px;
}

.topbar-user__name {
  font-weight: 500;
  padding-left: 2px;
}

.topbar-user__head {
  justify-content: center;
  height: 40px;
  border-radius: 50px;
  padding: 5px 15px !important;
}

.topbar-user__head:hover {
  background: #000;
}

.topbar-user__dropdown-menu {
  min-width: 230px;
  padding: 0;
}

.topbar-user__content-header {
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem 1rem;
  min-height: 70px;
  margin-bottom: 35px;
  background: #242939;
}

.topbar-user__card-wrapper {
  left: 0;
  right: 0;
  position: absolute;
  display: flex;
  align-items: stretch;
  height: 100%;
  bottom: -35px;
  padding: 0 1.75rem;
}

.topbar-user__card-image-wrapper {
  display: flex;
  align-items: center;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.topbar-user__card__name {
  display: flex;
  align-items: flex-end;
  font-size: 1.3rem;
  height: 50%;
  font-weight: 500;
  padding-bottom: 0.25rem;
  color: #fff;
}

.topbar-user__card__info {
  display: flex;
  height: 50%;
  align-items: flex-start;
  font-size: 1.1rem;
  font-weight: 400;
  padding-top: 0.25rem;
  color: #a1a8c3;
}

.topbar-user__card-details {
  display: flex;
  flex-direction: column;
}

.topbar-user__card-image {
  max-height: 55px;
  border-radius: 50%;
}

.topbar-user__list-wrapper {
  display: block;
  padding: 0.5rem 0;
  margin: 0;
  list-style: none;
  border: 0;
}

.topbar-user__list {
  display: block;
}

.topbar-user__list a {
  text-decoration: none;
}

.topbar-user__list a:hover span.user__list-icon {
  color: #5d78ff;
}

.topbar-user__list a:hover span.user__list-text {
  color: #5d78ff;
}

.topbar-user__list-link {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 0.55rem 2.2rem;
  cursor: pointer;
  transition: all 0.3s;
}

.user__list-icon {
  flex: 0 0 30px;
  font-size: 1.25rem;
  line-height: 0;
  color: #929292;
  transition: 0.15s;
}

.user__list-icon i:before {
  font-size: 1.4em;
}

.user__list-text {
  flex-grow: 1;
  font-size: 1.35rem;
  color: #646c9a;
  font-weight: 400;
  transition: 0.15s;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  justify-content: center;
  height: 40px;
  border-radius: 50px;
  padding: 5px 15px !important;
  background-color: #f0f3ff;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #f0f3ff;
}

.not_found_image_wrapper {
  width: 100%;
  margin-top: 100px;
}

.moveup {
  margin-top: 0px;
}

.contactleft {
  width: 50%;
  float: left;
}

.contactright {
  float: right;
  width: 50%;
}

.profilepic {
  float: left;
}

.profilepicsize {
  width: 100%;
  border-radius: 125px;
  box-shadow: 0 0 0 1px #cccccc;
}

@media (min-width: 2420px) {
  .profilepicsize {
    width: 64%;
  }
}

.popovertext {
  float: left;
  margin-left: 5px;
}

.name-text {
  font-size: 16px;
  color: #242939;
  margin: 0px;
}

.client-company-text {
  font-size: 16px;
  color: #242939;
  border-bottom: 1px solid rgba(83, 107, 226, 0.3);
}

.client-name-text {
  color: #434d6b;
  font-size: 14px;
  margin-bottom: 4px;
  color: #536be2;
}

.department-text {
  font-size: 14px;
  color: #536be2;
}

.contact-paragraph {
  color: #434d6b;
  font-size: 12px;
  margin-bottom: 4px;
}

.contact-paragraph a {
  color: #434d6b;
  font-size: 12px;
}

.contact-paragraph a:hover {
  text-decoration: none;
  color: #1f2231;
}

.contact-header-box {
  min-height: 170px;
}

.navmenu {
  background-color: #242939;
  top: 0;
  width: 260px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebarheader {
  background-color: #536be2;
  padding-top: 10px;
  padding-bottom: 3px;
  padding-left: 10px;
  text-transform: uppercase;
  color: #fff;
}

.list-group-item {
  background-color: #242939;
  border: none;
}

.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.siderbar-top {
  border-bottom: 2px solid rgba(255, 255, 255, 0.07);
}

.sidebar-arrow {
  float: right;
  transition: 300ms linear all;
  color: #687393;
}

.arrow-side {
  transform: rotate(90deg);
  transition: transform 0.2s linear;
}

.arrow-down {
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}

.navbar-toggle:hover span {
  transition: color 0.25s;
  width: 26px;
}

.navbar-toggle:hover span:first-child {
  width: 26px;
}

.navbar-toggle:hover span:last-child {
  width: 26px;
}

a.list-group-item {
  color: #989eb3;
  font-size: 13px;
  font-weight: 300;
  padding: 10px 20px;
  height: 44px;
}

a.list-group-item:focus {
  background-color: #1f2231;
  color: #fff;
}

a.list-group-item:hover {
  background-color: #1f2231;
  color: #fff;
}

a.list-group-item:hover i.sidebar-icon {
  color: #536be2;
}

.bullet-point {
  padding-right: 15px;
}

.bullet-point span {
  width: 4px;
  height: 4px;
  background-color: #fff;
  vertical-align: middle;
  display: inline-block;
  border-radius: 100%;
  background-color: #989eb3;
}

.childlist {
  background-color: #242939;
  padding-left: 45px !important;
}

.childlist a {
  color: #989eb3;
  background-color: #242939;
  padding-left: 50px !important;
}

.sidebar-icon {
  padding-right: 15px;
  color: #434d6b;
  font-size: 15px;
}

.panel {
  border-radius: 0px;
  border: 0;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05);
}

.shadow {
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
}

.logospace {
  font-size: 18px;
  padding-left: 80px;
}

@media (max-width: 768px) {
  .logospace {
    padding-left: 15px;
    font-size: 18px;
  }
}

.activity-feed {
  padding: 15px;
}

.activity-feed .feed-item {
  position: relative;
  padding-bottom: 20px;
  padding-left: 30px;
  border-left: 2px solid #e4e8eb;
}

.activity-feed .feed-item:last-child {
  border-color: transparent;
}

.activity-feed .feed-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -6px;
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #536be2;
}

.activity-feed .feed-item .activity-date {
  position: relative;
  top: -5px;
  color: #6E757D;
  text-transform: uppercase;
  font-size: 13px;
}

.activity-feed .feed-item .activity-text {
  position: relative;
  top: -3px;
}

/*===== custom css ========*/

/*===== custom css ========*/

.big-menu .menu-txt-toggle {
  left: 280px;
  transition: left 0.25s;
}

.menu-txt-toggle {
  display: none;
  float: none;
  left: 25px;
  position: absolute;
  z-index: 999999;
  transition: left 0.25s;
}

.myNavmenu-icons .menu-txt-toggle {
  left: 75px;
}

.menu-txt-toggle .icon-bar {
  display: block;
  width: 26px;
  height: 3px;
  margin-bottom: 6px;
  border-radius: 1px;
  background-color: #242939;
}

.menu-txt-toggle .icon-bar:first-child {
  transition: width 0.35s;
  width: 50%;
}

.menu-txt-toggle .icon-bar:last-child {
  transition: width 0.25s;
  width: 77%;
}

.mobile-nav .icon-bar {
  display: block;
  width: 26px;
  height: 3px;
  margin-bottom: 6px;
  border-radius: 1px;
  background-color: #242939;
}

.mobile-nav .icon-bar:first-child {
  transition: width 0.35s;
  width: 50%;
}

.mobile-nav .icon-bar:last-child {
  transition: width 0.25s;
  width: 77%;
}

.myNavmenu-icons .navmenu {
  width: 60px;
}

.myNavmenu-icons .siderbar-top img {
  width: 100%;
}

.myNavmenu-icons nav#myNavmenu #menu-txt {
  display: none;
}

.myNavmenu-icons nav#myNavmenu .list-group.panel a .sidebar-arrow {
  display: none;
}

.myNavmenu-icons nav#myNavmenu .list-group.panel a .sidebar-icon,
.myNavmenu-icons nav#myNavmenu .list-group.panel a .sidebar-arrow {
  font-size: 1.4em;
  vertical-align: middle;
  padding: 0;
  line-height: initial;
}

.myNavmenu-icons nav#myNavmenu .childlist {
  padding-left: 20px;
  background: #222;
}

.navbar-default .navbar-toggle {
  z-index: 10;
  right: 0;
  position: absolute;
}

#myNavmenu p.list-group-item.siderbar-top {
  text-align: center;
}

@media (min-width: 768px) {
  .big-menu #page-content-wrapper {
    padding-left: 260px;
    padding-left: 260px;
  }

  .myNavmenu-icons.big-menu #page-content-wrapper {
    padding-left: 60px;
  }
}

@media (min-width: 992px) {
  .menu-txt-toggle {
    display: block;
    left: 280px;
  }

  .myNavmenu-icons .navmenu {
    /*width: 125px;*/
  }

  .navmenu {
    width: 260px;
    transition: width 0.25s;
  }

  #myNavmenu p.list-group-item.siderbar-top {
    text-align: left;
  }

  .myNavmenu-icons #page-content-wrapper {
    padding-left: 60px;
  }

  .mobile-nav {
    display: none;
  }
}

.mobile-nav {
  position: absolute;
  float: right;
  z-index: 99999999;
  padding: 9px 10px;
  margin-right: 15px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  left: 25px;
  transition: left 0.25s;
}

.big-menu .mobile-nav {
  left: 285px;
}

.assignee-input {
  padding: 0;
}

.small-form-control {
  width: 100%;
}

.small-profile-picture {
  height: 30px;
  width: 30px;
}

.dot-online:before {
  content: ' \25CF';
  font-size: 15px;
  color: green;
}

.dot-offline:before {
  content: ' \25CF';
  font-size: 15px;
}

.bg-secondary-color {
  background: #536be2 !important;
}

.bg-white {
  background-color: #fff !important;
}

.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.1);
}

.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
  color: #3d4465;
}

.small-box p {
  z-index: 5;
  color: #4e515d;
  font-size: 1.1em;
}

.small-box .icon {
  transition: all .3s linear;
  position: absolute;
  top: -10px;
  right: 10px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
  padding-top: 10px;
}

.small-box .inner {
  padding: 10px;
}

.small-box .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 7;
  background: #536be2;
  text-decoration: none;
}

.box {
  position: relative;
  border-radius: 3px;
  background: #F1F1F1;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.box .box-primary {
  border-top-color: #3c8dbc;
}

.box .with-border {
  border-bottom: 1px solid #f4f4f4;
}

.box-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

.box-header .box-title {
  display: inline-block;
  font-size: 18px;
  margin: 0;
  line-height: 1;
}

.box-header .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}

.box-header:before,
.box-body:before,
.box-footer:before {
  content: " ";
  display: table;
}

.btn {
  border-radius: 3px;
  box-shadow: none;
  border: 1px solid transparent;
}

.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 10px;
}

.info-box {
  display: block;
  min-height: 90px;
  background: #ffffff;
  width: 100%;
  box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.1);
  border-radius: 2px;
  margin-bottom: 15px;
}

.info-box .progress {
  background: rgba(0, 0, 0, 0.2);
  margin: 5px -10px 5px -10px;
  height: 5px;
  border-radius: 0;
}

.info-box-icon {
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
  display: block;
  float: left;
  height: 90px;
  width: 90px;
  text-align: center;
  font-size: 45px;
  line-height: 90px;
  background: #536be2;
  color: #fff;
}

.info-box-content {
  padding: 5px 10px;
  margin-left: 90px;
}

.info-box-text {
  text-transform: uppercase;
}

.info-box-number {
  display: block;
  font-weight: bold;
  font-size: 18px;
}

.info-box-number-today {
  display: block;
  font-weight: bold;
  font-size: 2.4em;
}

.chart {
  width: 100%;
  height: 150px;
}

/*
 * Table styles
 */

table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  /*
     * Header and footer styles
     */
  /*
     * Body styles
     */
}

table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: bold;
}

table.dataTable thead tr {
  height: 4em;
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}

table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111111;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}

table.dataTable tbody tr {
  background-color: #ffffff;
}

table.dataTable tbody tr.selected {
  background-color: #b0bed9;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 15px;
  vertical-align: text-top;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border-top: 1px solid #dddddd;
}

table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td,
table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
}

table.dataTable.cell-border tbody th,
table.dataTable.cell-border tbody td {
  border-top: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #dddddd;
}

table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
  background-color: #f9f9f9;
}

table.dataTable.stripe tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected {
  background-color: #acbad4;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
  background-color: #f6f6f6;
}

table.dataTable.hover tbody tr:hover.selected,
table.dataTable.display tbody tr:hover.selected {
  background-color: #aab7d1;
}

table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3,
table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  background-color: #fafafa;
}

table.dataTable.order-column tbody tr.selected > .sorting_1,
table.dataTable.order-column tbody tr.selected > .sorting_2,
table.dataTable.order-column tbody tr.selected > .sorting_3,
table.dataTable.display tbody tr.selected > .sorting_1,
table.dataTable.display tbody tr.selected > .sorting_2,
table.dataTable.display tbody tr.selected > .sorting_3 {
  background-color: #acbad5;
}

table.dataTable.display tbody tr.odd > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #f1f1f1;
}

table.dataTable.display tbody tr.odd > .sorting_2,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
  background-color: #f3f3f3;
}

table.dataTable.display tbody tr.odd > .sorting_3,
table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: whitesmoke;
}

table.dataTable.display tbody tr.odd.selected > .sorting_1,
table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
  background-color: #a6b4cd;
}

table.dataTable.display tbody tr.odd.selected > .sorting_2,
table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
  background-color: #a8b5cf;
}

table.dataTable.display tbody tr.odd.selected > .sorting_3,
table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: #a9b7d1;
}

table.dataTable.display tbody tr.even > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #fafafa;
}

table.dataTable.display tbody tr.even > .sorting_2,
table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
  background-color: #fcfcfc;
}

table.dataTable.display tbody tr.even > .sorting_3,
table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #fefefe;
}

table.dataTable.display tbody tr.even.selected > .sorting_1,
table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
  background-color: #acbad5;
}

table.dataTable.display tbody tr.even.selected > .sorting_2,
table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
  background-color: #aebcd6;
}

table.dataTable.display tbody tr.even.selected > .sorting_3,
table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: #afbdd8;
}

table.dataTable.display tbody tr:hover > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: #eaeaea;
}

table.dataTable.display tbody tr:hover > .sorting_2,
table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
  background-color: #ececec;
}

table.dataTable.display tbody tr:hover > .sorting_3,
table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
  background-color: #efefef;
}

table.dataTable.display tbody tr:hover.selected > .sorting_1,
table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
  background-color: #a2aec7;
}

table.dataTable.display tbody tr:hover.selected > .sorting_2,
table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
  background-color: #a3b0c9;
}

table.dataTable.display tbody tr:hover.selected > .sorting_3,
table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
  background-color: #a5b2cb;
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
  white-space: nowrap;
}

table.dataTable.compact thead th,
table.dataTable.compact thead td {
  padding: 4px 17px 4px 4px;
}

table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
  padding: 4px;
}

table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 4px;
}

table.dataTable th.dt-left,
table.dataTable td.dt-left {
  text-align: left;
}

table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
  text-align: center;
}

table.dataTable th.dt-right,
table.dataTable td.dt-right {
  text-align: right;
}

table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
  text-align: justify;
}

table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
  white-space: nowrap;
}

table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
  text-align: left;
}

table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
  text-align: center;
}

table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
  text-align: right;
}

table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
  text-align: justify;
}

table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap;
}

table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
  text-align: left;
}

table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
  text-align: center;
}

table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
  text-align: right;
}

table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
  text-align: justify;
}

table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
  box-sizing: content-box;
}

/*
 * Control feature layout
 */

.table > thead:first-child > tr:first-child > th {
  vertical-align: middle;
}

.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}

.dataTables_wrapper .dataTables_length {
  float: left;
}

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}

.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333333 !important;
  border: 1px solid #979797;
  background-color: white;
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* FF3.6+ */
  /* IE10+ */
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, white 0%, #dcdcdc 100%);
  /* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111111;
  background-color: #585858;
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* FF3.6+ */
  /* IE10+ */
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111111 100%);
  /* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2a2a;
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* FF3.6+ */
  /* IE10+ */
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2a2a 0%, #0c0c0c 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}

.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #333333;
}

.dataTables_wrapper .dataTables_scroll {
  clear: both;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
  vertical-align: middle;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #111111;
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
.dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
  border-bottom: none;
}

.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }

  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }

  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }

  table {
    display: block;
    overflow-x: auto;
  }
}

.table > thead > tr > th {
  border-bottom: none;
}

.table-hover > tbody > tr:hover {
  background-color: #f5f8fc;
}

.tablet {
  box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
  background-color: #ffffff;
  margin-bottom: 20px;
  border-radius: 4px;
}

.tablet__tigthen {
  padding: 15px 25px !important;
}

.tablet__shadow {
  box-shadow: 0px 2px 18px -4px #4f4f4f;
}

.tablet__head {
  padding: 0 25px;
  border-bottom: 1px solid #ebedf2;
  min-height: 60px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  display: flex;
}

.slim {
  min-height: 15px;
}

.slim h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tablet__head__color-brand {
  background-color: #536be2;
}

.tablet__nav {
  display: block;
  padding: 0.5rem 0;
  margin: 0;
  list-style: none;
  border: 0;
}

.tablet__nav .nav-item .nav-link {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 0.55rem 1.75rem;
  cursor: pointer;
  border: none;
}

.tablet__nav .nav-item .nav-link .nav-link-text:hover {
  color: #536be2;
}

.tablet__nav .nav-item .nav-link i {
  color: #c5cbe3;
  flex: 0 0 30px;
}

.nav-item {
  display: flex;
  align-items: stretch;
}

.nav-link {
  color: #5d78ff;
  border-bottom: 1px solid #5d78ff;
}

.nav-link:hover {
  color: #5d78ff;
  text-decoration: none;
}

.nav-link-text {
  color: #646c9a;
  font-weight: 400;
}

.tablet__head-label {
  display: flex;
  align-items: center;
  align-content: flex-first;
}

.tablet__head-title,
.invoice-title {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 500;
  color: #3d4465;
}

.tablet__body {
  padding: 25px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tablet__footer {
  padding: 25px;
  border-top: 1px solid #ebedf2;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tablet__select {
  padding: 0.65rem 2rem 0.65rem 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 0.25rem;
}

.text-white {
  color: #fff;
}

.siderbar-list-value i {
  display: none;
}

.siderbar-list-value i:before {
  font-size: inherit;
}

.siderbar-list-value:hover i {
  color: #536be2;
  display: inline-block;
}

/** Tabs **/

.tablet.tablet--tabs .tablet__head {
  justify-content: space-between;
}

.tablet.tablet--tabs .tablet__head .tablet__head-toolbar {
  display: flex;
}

.tablet .tablet__head .tablet__head-toolbar {
  display: flex;
  align-items: center;
  align-content: flex-end;
}

.tablet--tabs .nav-tabs.nav-tabs-line {
  margin: 0 0 -1px 0.5rem;
  border-color: transparent !important;
}

.tablet--tabs .nav-tabs.nav-tabs-line .nav-item {
  display: flex;
  align-items: stretch;
  margin-right: 15px;
}

.tablet .tablet__body {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 4px;
}

/** tabs **/

.tablet--tabs .nav-tabs.nav-tabs-line .nav-item .nav-link {
  display: flex;
  align-items: center;
}

.tablet--tabs .nav-tabs > li.active {
  transition: all 0.3s;
  color: #5d78ff;
  border-radius: 0.25rem;
  text-decoration: none;
  border-bottom: 1px solid #5d78ff;
  background: transparent;
}

.tablet--tabs .nav-tabs > li.active > a {
  color: #5d78ff;
}

.tablet--tabs .nav > li > a {
  padding: 19px 0px;
}

.tablet--tabs .nav-tabs > li.active > a:hover {
  border: none;
}

.tablet--tabs .nav-tabs > li > a:hover {
  background: transparent;
  border-bottom: 1px solid #5d78ff;
  border-radius: 0.25rem;
  color: #5d78ff;
}

.tablet--tabs .tablet__head__color-bran .nav-tabs > li > a:hover {
  background: transparent;
  border-bottom: 1px solid #fff;
  border-radius: 0.25rem;
  color: #fff;
}

.tablet--tabs .tablet__head__color-brand .nav-tabs > li.active > a {
  color: #fff;
}

.tablet--tabs .tablet__head__color-brand .nav-tabs > li > a:hover {
  background: transparent;
  border-bottom: 1px solid #fff;
  border-radius: 0.25rem;
  color: #fff;
}

.tablet--tabs .tablet__head__color-brand .nav-tabs > li.active > a:hover {
  border: none;
}

.tablet--tabs .tablet__head__color-brand .nav-tabs > li.active {
  transition: all 0.3s;
  color: #fff;
  border-radius: 0.25rem;
  text-decoration: none;
  border-bottom: 1px solid #fff;
  background: transparent;
}

/** items **/

.tablet .tablet__body .tablet__items .tablet__item {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.tablet .tablet__body .tablet__items .tablet__item .tablet__item__pic {
  width: 4rem;
  height: 4rem;
  text-align: left;
}

.tablet .tablet__body .tablet__items .tablet__item .tablet__item__pic img {
  height: 100%;
}

.tablet .tablet__body .tablet__items .tablet__item .tablet__item__info {
  flex: 1 0 0px;
  padding-right: 1rem;
  padding-left: 0.7rem;
}

.tablet .tablet__body .tablet__items .tablet__item .tablet__item__info .tablet__item__title {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  color: #3d4465;
  padding-right: 1rem;
  margin-bottom: 0.3rem;
  transition: all 0.3s;
}

.tablet .tablet__body .tablet__items .tablet__item .tablet__item__info .tablet__item__description {
  font-weight: 500;
  font-size: 1rem;
  color: #a1a8c3;
}

/* Some Sass variables */

.project-board-ui {
  box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
  background-color: #fff;
  color: #eee;
  padding-bottom: 2em;
}

.project-board-lists {
  display: flex;
  overflow-x: auto;
}

.project-board-lists > * {
  flex: 0 0 auto;
  margin-left: 10px;
}

.project-board-lists::after {
  content: '';
  flex: 0 0 10px;
}

.project-board-list-item {
  background-color: #fff;
  list-style: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.project-board-list-item:not(:last-child) {
  margin-bottom: 10px;
}

.project-board-list-item img {
  display: block;
  width: calc(100% + 2 * 10px);
  margin: -10px 0 10px -10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.project-board-list-item.is-moving {
  transform: rotate(5deg);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.project-board-list {
  width: 300px;
  height: calc(100% - 10px - 17px);
}

.project-board-list > * {
  background-color: #e2e4e6;
  color: #333;
  padding: 0 10px;
}

.project-board-list header {
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project-board-list footer {
  line-height: 36px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #888;
}

.project-board-list ul {
  list-style: none;
  margin: 0;
  max-height: calc(100% - 36px - 36px);
  overflow-y: auto;
}

.project-board-card {
  padding: 9px;
}

.project-board-card-title {
  font-size: 13px;
  font-weight: 400;
}

.project-board-card-description {
  font-size: 11px;
}

.project-board-card-list {
  font-size: 10px;
}

.project-board-card-footer {
  background-color: #f0f0f0;
}

.project-board-card-wrapper {
  display: block;
  margin-bottom: 20px;
  line-height: 1.428571429;
  background-color: #fff;
}

.project-board-card-thumbnail-image {
  width: 30px;
  height: 30px;
  border-radius: 3em;
}

.btn.btn-brand {
  background: #536BE2;
  color: #ffffff;
}

.btn.btn-brand:hover {
  background-color: #4A64E2;
  border-color: #4A64E2;
}

.btn.btn-teal {
  background-color: #1dc9b7;
  color: #fff;
}

.btn.btn-teal:hover {
  background-color: #1cad9b;
  border-color: #1e8a77;
}

.btn.btn-outline-metal {
  border-color: #d3dae6;
  color: #645ca1;
  background: transparent;
  border-radius: 0.25rem;
}

.btn-hover-brand:hover {
  color: #ffffff;
  background: #4A64E2;
  border-color: #4A64E2;
}

.btn.btn-upper {
  text-transform: uppercase;
}

.btn.btn-bold {
  font-weight: 600;
}

.btn-sm {
  padding: 0.60rem 2rem;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.btn-md {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 1.1rem 1.2rem;
  border-radius: 0.25rem;
  transition: all 0.3s;
}

.btn-lg {
  padding: 0.8em 1.1em;
  font-size: 1.2em;
  border-radius: 0.4rem;
}

.btn-xlg {
  padding: 0.8em 1.5em;
  font-size: 2rem;
  border-radius: 0.4rem;
}

.btn-light {
  background: #fff;
  color: #646c9a;
  border-color: #ebedf2;
  box-shadow: none;
}

.btn-light:hover {
  color: #555d8a;
}

.btn.btn-full-width {
  width: 100%;
}

.btn.btn-clean {
  border: 0;
  background: transparent;
  padding: 0;
}

.btn.btn-clean:focus {
  box-shadow: none !important;
  outline: none;
}

.btn.btn-icon:focus {
  color: #536be2;
}

.dataTables_length label {
  font-weight: 400;
}

a.paginate_button.current {
  background: #5d78ff !important;
  color: #ffffff !important;
}

a.paginate_button {
  border-radius: 3px;
  vertical-align: middle;
  font-size: 1.4rem;
  padding: 0.5em 0.8em !important;
  line-height: 1rem;
  font-weight: 400;
  color: #fff !important;
  border: none !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #5d78ff;
  color: #ffffff !important;
  padding: 0.5em 0.8em;
  border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border-radius: 3px;
  vertical-align: middle;
  font-size: 1.4rem;
  padding: 0.5em 0.8em !important;
  line-height: 1rem;
  font-weight: 400;
  background: #5d78ff !important;
  color: #ffffff !important;
  border: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
  background-color: transparent !important;
  color: #9c9c9c !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
  color: #9c9c9c !important;
}

.action-header {
  background-color: transparent;
}

.el-tabs__item.is-active {
  color: #242939 !important;
}

.el-tabs__active-bar {
  background-color: #536be2 !important;
}

.invoice-title {
  font-size: 1.6rem;
  margin-bottom: 0 !important;
}

.invoice-info {
  color: #797979;
  margin-bottom: 0 !important;
  font-size: 1.1rem;
}

.invoice-info-title {
  font-size: 1.3rem;
  color: #6b6b6b;
  margin-bottom: 0 !important;
}

.invoice-info-subtext {
  font-size: 1.3rem;
  color: #3a3a3a;
  font-weight: 400;
}

.final-price {
  font-size: 1.2em;
  font-weight: 400;
}

.trashcan-icon {
  padding-left: 1em !important;
  color: #95969a;
}

.trashcan-icon:hover {
  color: #e25564;
}

